.pigeon-attribution {
    display: none;
}

.App {
    text-align: center;
    background: rgb(248, 244, 240),
}

/* https://time2hack.com/2018/04/css-tutorial-ripples-loading-animation-like-in-tinder/ */
@keyframes ripple {
    from {
        width: 0.1%;
        height: 0.1%;
        opacity: 1;
    }
    to {
        width: 100%;
        height: 100%;
        opacity: 0;
    }
}

.ripplecontainer {
    width: 30rem;
    height: 30rem;
    margin: -15rem -15rem;
    display: block;
    position: relative;
    /* cosmetics */
    border: none;
}

.ripplecircle {
    top: 50%;
    left: 50%;
    width: 0;
    height: 0;
    display: block;
    border-radius: 50%;
    position: absolute;
    border: 2px solid #ccc;
    transform: translate(-50%, -50%);
    background: rgba(100, 100, 100, 0.1);
    animation: ripple 3s ease infinite;
}